<script id="widget-builder-ejs" type="text/ejs">
    <form class="form--dark-panel">
    <%% for (var name in meta) { %>
        <%%== helpers.renderField(
            name,
            meta[name],
            (data)? data[name] : null,
            true
        ) %>
    <%% } %>
    </form>
</script>
