<%= sandbox_css('widget-group', css).html_safe %>
<div class="widget-group" data-widget-sandbox>
  <%= html_safe html %>
</div>
<% content_for :javascript do %>
<script type="text/javascript">
(function($, Observer, window, undefined) {
  var modules = Observer.modules;
  var helpers = Observer.helpers;

  $(function() {
    var widget = modules.widget($('[data-widget-sandbox]'), {
      autoRefresh: $('.show.widgets').length
    });

    try {
      $.proxy(function(modules, ko, undefined) {
        var
          document = undefined,
          window = undefined
          ;
        <% if js.present? %>
          <%= html_safe js %>
        <% end %>
      }, widget)(Observer.modules, ko);
    } catch (e) {
      console.log(e);
      window.parent.Observer.trigger('log', e.stack);
    }
  });
}(jQuery, Observer, window));
</script>
<% end %>
