<%= sandbox_css('widget-group', css).html_safe %>
<div class="widget-group"></div>
<script id="widgetEJS" type="text/ejs">
  <%= html_safe html %>
</script>
<% content_for :javascript do %>
<script type="text/javascript">
(function($, Observer, window, undefined) {
  var modules = Observer.modules;
  var helpers = Observer.helpers;

  Observer.on('ready.body', function() {
    var
      document = undefined,
      window = undefined
      ;

    var widget = modules.widget($('.widget-group'), {
      autoRefresh: $('.show.widgets').length
    });

    $.proxy(function(modules, undefined) {
      <% if js.present? %>
      <%= html_safe js_filter(js) %>
      <% end %>

      this.initView();
    }, widget)(Observer.modules);
  });
}(jQuery, Observer, window));
</script>
<% end %>
