.editable-name {
    max-width: 80%;
    text-align: center;
    margin: 10px auto 10px;
    padding: 5px;
    font-weight: bold;
    color: $panel-color;
}

.editable-name:focus {
    background-color: #151515;
    color: #fff
}
