.custom-icon {
    position: relative;
}

.connection-icon {
    .icon-database {
        position: absolute;
        font-size: 100%;
        top: 41px;
        color: #666666;
        margin-left: -17px;
    }
}
