<div class="dashboard-preferences-group reveal-modal" id="dashboard-preferences">
  <%= spinner.html_safe %>
  <%= form_for(@dashboard) do |f| %>
  <div class="field">
    <%= f.text_field :name, :class => 'dashboard-preference-text' %>
  </div>
  <div class="dashboard-preferences-action">
    <a href="#" class="button secondary cancel-dashboard-action">
      <i class="icon-back"></i> Cancel
    </a>
    <a href="#" class="button primary save-dashboard-action">
      <i class="icon-save"></i> Save
    </a>
  </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
