<div class="row widget-selector-group">
  <div class="small-3 columns">
    <div class="widgets-selector__list">
        <% @widgets.each do |widget| %>
            <div
                class="widgets-selector__list__item"
                data-id="<%= widget.id %>"
                data-meta="<%= widget.meta %>"
            >
                <%= widget.name %>
            </div>
        <% end %>
    </div>
  </div>
  <div class="small-3 columns">
      <div class="content" data-id="builder">
          <%= render '/widgets/builder.ejs', :format => 'ejs' %>
      </div>
  </div>
  <div class="small-6 columns">

  </div>
</div>
