/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.gridster
 *= require jquery.jqplot
 *= require entypo
 */
@charset "UTF-8";

@import "bourbon";
@import "variables";
@import "foundation_and_overrides";
@import "mixins";
@import "modules/editor";
@import "modules/table";
@import "website";
@import "queries";
@import "widgets";

.top-bar .name .brand-title {
	color: #fff;
}

.top-bar .name .brand-title:hover {
	color: $highlight-color;
}

.components-menu {
	li {
		a:not(.button):hover, a.active {
			background-color: #222;
			color: $highlight-color;
		}

		a:not(.button) {
			line-height: 41px;
		}
	}
}
.alert-modal {
	display: none;
}

.alert-box {
	width: 500px;
	margin: 0 auto;
}

.container {
	margin-top: 20px;
	@include box-sizing(border-box);
	padding: 0 10px;
}

.userbar {
	@include box-shadow(0px 2px 2px hsla(0%, 0%, 0%, 0.3));

	.user {
		color: #999;
		line-height: 41px;
		height: $topbar-height;
		background-color: black;
		font-size: 0.8em;
	}
}

.action {
	font-size: 1.5em;
	color: $primary-color;
}

.action:hover {
	color: $highlight-color;
}
