/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.gridster
 *= require jquery.jqplot
 *= require entypo
 */
@charset "UTF-8";

@import "bourbon";
@import "variables";
@import "foundation_and_overrides";
@import "mixins";
@import "modules/editor";
@import "modules/table";
@import "modules/editable_name";
@import "website";
@import "dashboards";
@import "queries";
@import "widgets";
@import "devise";

.custom-icon {
	position: relative;
}

.connection-icon {
	.icon-database {
		position: absolute;
		font-size: 100%;
		top: 41px;
		color: #666666;
		margin-left: -17px;
	}
}


.reveal-modal__title {
    color: #fff;
    margin-bottom: 10px;
}

.reveal-modal__item {
    margin-bottom: 1px;
}

.reveal-modal__content {
    padding: 4px 5px 10px 5px
}

.content-group {
	background-color: $panel-color;
	padding: 20px;
	@include drop-shadow;
	color: #fff;

	label {
		font-size: emCalc(18px);
		color: #ccffcc;
	}
}

.components-menu {
	li {
		a:not(.button):hover, a.active {
			background-color: #222;
			color: $highlight-color;
		}

		a:not(.button) {
			line-height: 41px;
		}
	}
}
.alert-modal {
	display: none;
}

.alert-box {
	width: 500px;
	margin: 0 auto;
}

.container {
	margin-top: 20px;
	@include box-sizing(border-box);
	padding: 0 10px;
}

.userbar {
	.user {
		color: #999;
		line-height: 41px;
		height: $topbar-height;
		background-color: $topbar-bg;
		font-size: 0.8em;
	}
}

.fullscreen .userbar {
	height: 0px;
	overflow: hidden;
}

.action {
	font-size: 1.5em;
	color: $primary-color;
}

.action:hover {
	color: $highlight-color;
}

.widgets.index,
.queries.index,
.dashboards.index,
.connections.index
{
	.container {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}
