// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboards {
	.dashboard {
		border: 1px #555 solid;
		margin-bottom: 20px;
	}
}

.dashboard ul {
	list-style: none;
}

.widget-group {
    background-color: hsla(100%, 100%, 100%, 0.1);
}
