// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboards {
	.dashboard {
		border: 1px #eee solid;
		min-height: 100px;
		margin-bottom: 20px;
		padding: 8px;
	}

	.dashboard ul {
		list-style: none;
	}

	.dashboard li {
		cursor: pointer;
	}
}

.dashboards.edit {
	.container {
		margin-top: 10px;
	}
}

.dashboards.view {
	.dashboard {
		margin: 0 auto 20px;
		border: none;
		transform-origin: 0% 0%;
		-webkit-transform-origin: 0% 0%;
		-moz-transform-origin: 0% 0%;
	}
}

/**
 * Widget selector group
 */
.widgets-selector-group {
	background-color: $panel-color;
	display: none;
}

.widgets-selector__actions {
	margin-top: 10px;
}

.widgets-selector__item {
	background-color: #222;
	font-size: emCalc(14px);
	padding: 8px;
	cursor: pointer;
	color: $primary-color;

	.widget-sandbox {
		display: none;
	}
}

.widgets-selector__item:hover {
	color: $highlight-color;
	background-color: $bg-highlight-color;
}

/**
 * dashbaord preferences
 */
.dashboard-preferences-group {
	min-height: 100px;
	background-color: $panel-color;
	display: none;
}

/**
 * Dashboard menu
 */
.dashboard-menu-group {
	position: absolute;
	top: 65px;
	right: 20px;
	z-index: 11;
}

.fullscreen .dashboard-menu-group {
	top: 10px;
	right: 20px;
	transform: scale3d(0.8, 0.8, 0.8);
	-webkit-transform: scale3d(0.8, 0.8, 0.8);
}

.dashboard-menu-icon {
    color: #ccc;
    font-size: 2em;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
    text-shadow: 5px 5px hsla(0%, 0%, 0%, 0.3);
}

.dashboard-menu-item {
	position: relative;
}

.dashboard-menu-icon.active, .dashboard-menu-icon:hover {
    opacity: 1;
}

.fullscreen .monitor-fullscreen .icon-monitor {
	opacity: 1;
}

/**
 * Dashboard widget
 */
.dashboard-widget-remove {
	position: absolute;
	top: -8px;
	right: -8px;
	text-align: center;
	line-height: 1.2;
	color: #fff;
	border-radius: 8px;
	width: 17px;
	height: 18px;
	background-color: #ccc;
}

.dashboard-widget-remove:hover {
	background-color: $panel-color;
}
