// $highlight-color: #66a;
$highlight-color: yellow;
$medium-grey: #666;
$dark-grey: #133;
$light-grey: #ccc;
$panel-color: $medium-grey;
$bg-highlight-color: #333;
$input-background-color: $dark-grey;
