.website.index {
	.container {
		max-width: $row-width;
		margin: 0 auto;
	}

	.components {
		margin-top: 100px;
		list-style: none;
	}

	.component {
		font-size: 2em;
		background-color: #000;
		@include drop-shadow;
		padding: 10px;
		text-align: center;
		width: 300px;
		margin: 10px;
		@include inline-block;
	}

	.component a {
		color: $primary-color;
	}

	.component:hover a {
		color: $highlight-color;
	}

	.component-icon {
		font-size: 2.5em;
		display: block;
		margin: 0 auto;
	}
}

