// Place all the styles related to the Widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widgets {
    .container {
        max-width: 100%;
    }

    .editor {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .widget-preview {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .editor-container {
        margin-bottom: 10px;
    }

    .editor-container.js {
        height: 480px;
    }

    .editor-container.css {
        height: 220px;
    }

    .editor-container.html {
        height: 150px;
    }

    .options {
        width: 70px;
        height: auto;
        position: absolute;
        top: 65px;
        right: 26px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 9px;
        border-radius: 5px;

        label {
            color: #fff;
        }
    }
}

#widget-sandbox {
    width: 100%;
    min-height: 100px;
    border: none;
    opacity: 0;
}

.widget-chart {
    width: 100%;
    height: 100%;
    @include box-sizing(border-box);
}

.widget-label {
    position: absolute;
    margin-top: -15px;
    right: 10px;
    color: #aaa;
    font-weight: bold;
    font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
    text-shadow: 1px 2px 1px #fff;
}

.widget {
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    border: 2px #eee solid;
    background-color: #eee;
    position: relative;
    box-sizing: border-box;
    padding-top: 20px;
}
