// Place all the styles related to the Widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widgets {
    .container {
        max-width: 100%;
    }

    .widget-preview {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .editor-group.js {
        height: 480px;
    }

    .editor-group.css {
        height: 320px;
    }

    .editor-group.html {
        height: 150px;
    }
}

.widget-sandbox {
    width: 100%;
    min-height: 100px;
    border: none;
    opacity: 1;
    margin: 0 auto;
    @include box-sizing(border-box);
    position: relative;
    pointer-events: none;
    height: 100%;
}

.widget-chart {
    width: 100%;
    height: 100%;
    @include box-sizing(border-box);
}

.widget-label {
    position: absolute;
    margin-top: -12px;
    right: 10px;
    color: #999;
    font-weight: bold;
    font-family: 'Myriad-Pro', 'Myriad', helvetica, arial, sans-serif;
}
.widgets.edit {
    .preview-container {
        margin: 0 auto;
        position: relative;
    }
}

.widget-modifier-group {
    width: 100%;
    height: 100%;
    border: #ccc 1px solid;
    position: absolute;
    top: 0px;
    opacity: 0;
}

.widget-modifier-group[data-show="1"] {
    opacity: 1;
}

.widget-group {
    padding: 10px 20px 10px 10px;
    position: relative;
    box-sizing: border-box;
    padding-top: 20px;
}

.widget-group:hover {
}

.widget-edit-form-group {
    max-width: 100%;
}

/** widget resources **/

.widget-resources__title {
    color: #fff;
    margin-bottom: 10px;
}

.widget-resources__item {
    margin-bottom: 1px;
}

.widget-resources__content {
    padding: 4px 5px 10px 10px
}

.widget-resources__copy-token {
    background-color: #222;
    padding: 5px 10px;
    cursor: pointer;
    @include inline-block;
}

.widget-resources__copy-token.hover {
    background-color: #333;
}

.widget-resources__query-name {
    color: #ccc;
    width: 378px;
    margin-right: 10px;
    @include inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.widget-resources__query-token {
    color: #ccc;
    width: 85px;
    white-space: nowrap;
    @include inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget-resources__query-edit {
    font-size: 1em;
    @include inline-block;
}

.widget-resources__actions {
    margin-top: 10px;
}

.widget-preferences__title {
    color: #fff;
    margin-bottom: 10px;
}

.widget-group {
    width: 100%;
    height: 100%;
}

.widget-group .jqplot-target {
    .jqplot-axis {
        color: $panel-color;
    }

    .jqplot-table-legend {
        background: none;
        border: none;
    }

    .jqplot-table-legend-label {
        color: $panel-color
    }
}
