<ul class="hero-nav-group">
  <li class="connections hero-nav__item">
    <a href="<%= connections_path %>" class="hero-nav__item__link">
      <i class="icon-cloud hero-nav__item__icon"></i>
      <div>Connections</div>
    </a>
  </li>
  <li class="resources hero-nav__item">
    <a href="<%= queries_path %>" class="hero-nav__item__link">
      <i class="icon-database hero-nav__item__icon"></i>
      <div>Data sources</div>
    </a>
  </li>
  <li class="database hero-nav__item">
    <a href="<%= widgets_path %>" class="hero-nav__item__link">
      <i class="icon-line-graph hero-nav__item__icon"></i>
      <div>Widgets</div>
    </a>
  </li>
  <li class="dashboard hero-nav__item">
    <a href="<%= dashboards_path %>" class="hero-nav__item__link">
      <i class="icon-layout hero-nav__item__icon"></i>
      <div>Dashboards</div>
    </a>
  </li>
</ul>
